body {
  background: $bg-color;
  color: $fg-color;
  font-family: $font;
  overflow-y: scroll;
}

#buttons {
  margin-top: 30px;
}

#display,
#displayTemp {
  display: block;
  border: 1px solid #cccccc;
  image-rendering: pixelated;
  margin: 0 auto;
}

#displayTemp {
  width: 600px;
  height: 400px;
}